<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crossbowtype.name %>
</p>

<%= link_to 'Edit', edit_crossbowtype_path(@crossbowtype) %> |
<%= link_to 'Back', crossbowtypes_path %>
