@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

img {
    height: inherit;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.left_menu {
  float: left;
  width: 200px;
  height: auto;
  margin: 20px;
  border: 1px solid;
  border-color: #ff8700;
}

.left_menu_element {
  font-family: 'Arial Narrow';
  font-size: 14px;
  height: 20px;
  margin: 5px;
  border: 1px solid;
  border-color: #ff8700;
  background: #444444;
  text-align: center;
}

.top_menu_types {
  background: #ff8700;
  height: 50px;
  margin: 5px;
}

.top_menu_types_element {
  float: left;
  font-size: 14px;
  font-family: 'Arial Narrow';
  text-align: center;
  width: 100px;
}

.cart_item{
  height: 200px;
  border: 1px solid #ff8700;
  margin: 10px;
}

.cart_item_image{
  height: 180px;
  width: 180px;
  margin: 10px;
  border: 1px solid #ff8700;
  float: left;
}

.cart_item_name{
  font-size: 20px;
  height: 25px;
}

.cart_item_price{
  font-size: 12px;
  margin: 10px;
}