<h1>Корзина</h1>
<a href="/static_pages/cart">Купить всё через qiwi</a>

<% @line_items.each do |line_item| %>
<div class="cart_item">
  <div>
    <div class="cart_item_image">
      <img src="<%= get_product_image(line_item.id) %>" alt="^_^">
    </div>
    <div class="cart_item_name">
      
    </div>
    <div class="cart_item_name">
      <%= get_product_name(line_item.id) %>
    </div>
    <div class="cart_item_price">
      <%= get_price(line_item.id) %>
    </div>
    <div class="btn btn-grey btn-large">
      <%= link_to 'Убрать', line_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<% end %>

