<!DOCTYPE html>
<html>
<head>
  <!-- топбар -->
	<header class="siteheader" id="siteheader">
		<div>
	  		<p class="name">IGWS</p>
	  	</div>
	</header>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
