
<div class="page-maincontent" id="page">
		<div id="main-content" class="main-content container clearer-block" style="min-height: 1544.78125;">
			<!-- bows -->
			<div class="product-block" style="float :left">
			    <div class="white-wrap">
			    	<a class="model-name" title="Купить"  href="/bows/" target="_blank" rel="nofollow">Луки</a>
			    	<a class="photo-wrap" href="/bows" target="_blank" rel="nofollow">
			    	<span><img height="180" width="180" src="<%= @bow.mainphoto.url %>" alt=""></span></a>
			    </div>
			    <div class="gradient-wrap"><a class="btn btn-grey btn-large" title="Купить" href="/static_pages/cart" target="_blank" rel="nofollow">Купить <span class="count"><%= @bow.producer %></span></a>
			    	
			    	<div class="separator-dotted">
			    	</div>
			    	
			    </div>
			</div>
			<!-- crossbows -->
			<div class="product-block" style="float :left">
			    <div class="white-wrap">
			    	<a class="model-name" title="Купить"  href="/crossbows/" target="_blank" rel="nofollow">Арбалеты</a>
			    	<a class="photo-wrap" href="/crossbows" target="_blank" rel="nofollow">
			    	<span><img height="180" width="180" src="<%= @crossbow.mainphoto.url %>" alt=""></span></a>
			    </div>
			    <div class="gradient-wrap"><a class="btn btn-grey btn-large" title="Купить" href="/static_pages/cart" target="_blank" rel="nofollow">Купить <span class="count"><%= @crossbow.producer %></span></a>
			    	
			    	<div class="separator-dotted">
			    	</div>
			    	
			    </div>
			</div>

		</div>
		
</div>
